*{
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    text-decoration: none;
    color: #A3BEF3;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.wrapper {
    width: 100%;
    background: #000000;
    height: 3em;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
}

nav{
    width: 100%;
    display: flex;
}

.nav-links{
    width: 60%;
    display: flex;
    align-items: center;
}

.nav-links a{
    display: flex;
    margin-left: 5%;
}

.btn-container{
    display: flex;
    width: 40%;
    justify-content: flex-end;
    margin-right: 2%;
    outline: none;
}

/* 
.nav-links a{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
} */


.logo-header-container{
    /* height: 50px; */
    margin-left: 1%;
    /* padding:0;
    display: flex; */
  
    /* margin-left: 0.5%;  */
}

.logo-header{
    height: 80%;
    width: 2.5rem;
    float: left;
}

nav a{
    font-size: 1em;
    font-weight: bold;
    /* display: flex; */
    /* justify-content: space-around; */
}

button.play-btn{
    background-color: rgb(150,240,239);
    border-radius: 3px;
    border:none;
    width: 6.25rem;
    height: 1.5rem;
    font-weight: bold;
} 

.kda-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 8%;
    margin-bottom: 8%;
}

.img-kda{
    width: 60%;
}

.section-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.list-container{
width: 60%;
justify-content: center;
overflow-y: scroll;
height: 50vh;
}

.accordion-container{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-direction: column;

}
.champion-btn {
    background-color: rgb(10,11,38);
    color: #444;
    cursor: pointer;
    padding: 18px;
    border: solid 1px cornflowerblue;
    border-radius: 3px;
    text-align: center;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    display: flex;
    /* justify-content: space-around; */
    height: 50px;;
}

.active, .accordion:hover {
    background-color: #ccc; 
}

.panel {
    padding: 0 18px;
    display: none;
    justify-content: space-evenly;
    background-color: white;
    overflow: hidden;
    
}
.splash {
    width: 40%;
}

.champ-icon, .champ-name, .champ-title, .champ-class, .champ-difficulty{
    align-self: center;
    text-align: left;  
}

.champ-name, .champ-class, .champ-difficulty{
    width: 7em; 
    padding-left: 2em;
}

.champ-title{
    width: 12em;
    padding-left: 5em;
}

.champ-icon{
    margin: 1em;
}

.champ-name, .champ-title {
    justify-content: left;
    color: white;
}